/** {

	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body {

	background-image: url(media/waves.jpg);
	background-color: #707070;
	background-blend-mode: lighten;
}*/


@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Homemade+Apple&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth !important;
	font-family: 'Newsreader', serif;
}

body {
	background-color: #1b262c;
	color: #fff;
}

#waves-main {
	background-image: url(media/waves.jpg);
	background-size: 64% 100%;
	  background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;

}

#waves-main h1 {
	font-size: 96px;
	width: 30%;
	  text-shadow: 2px 2px 5px #000;
	  font-family: 'Caveat';
	margin: 24px 24px;
}
#waves-main > p {
	font-size: 32px;
	width: 30%;
	  text-shadow: 2px 2px 5px #000;
	  font-family: 'Caveat';
	margin: 24px 24px;
}


section main{

	margin: 20px 0;
	padding: 48px 48px;
	text-align: center;
}
aside {
	position: absolute;
	right: 48px;
	 font-family: 'Caveat';
	 font-size: 24px;
	 text-align: center;
	 top: 80px;
}
aside h3,p {
	margin: 12px 0;
}



nav {

	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: rgba(15,76,117, .8);

	  top: 0;
	  position: fixed;
	  width: 100%;
	  transition: 0.5s;
	  z-index: 1;

}



nav.fixed-nav {
 	background-color: rgba(0,0,0,0);
}

nav  a {
	color: #bbe1fa;
	font-size: 16px;	
	padding: 28px 0;
	width: 100%;
	text-decoration: none;
	transition: .5s;
}

nav a:hover {
	color: 	#fff;
	background-color: #3282b8;

}
td > figure {
	display: flex;
	align-items: center;
	flex-direction: column;

}


footer, footer > form{
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

#prev-albums {
		background: linear-gradient(45deg, #49a09d, #5f2c82);
		text-align: center;
		padding: 48px 0;

}
#prev-albums h2{
		font-size: 48px;
		padding: 24px 24px;

}
#prev-albums a{
		color: #fff;
	font-size: 16px;	
	padding: 28px 0;
	width: 100%;
	text-decoration: none;

}
table {
	width: 80%;
	border-collapse: collapse;
	overflow: hidden;
	text-align: center;
	 margin-left:auto; 
    margin-right:auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	  border: 1px solid rgba(255,255,255,0.3);
}
th, td{
	padding: 15px;
	background-color : rgba(255,255,255,0.2);
	  border: 1px solid rgba(255,255,255,0.3);
}
.album-art-img {
	height: 60px;
	width: 60px;
	margin: 12px 0;
}
.artwork-img{
	width: 480px; 
	height: 480px;
}

th {
		background-color: #55608f;
}


.list-header, h2 {
	border-bottom: 2px solid #fff;
	margin-bottom: 10px;
	margin: 48px 48px;
	padding: 16px 16px;
	font-size: 48px;
	font-family: 'Caveat';

}

ul, ol, menu {
	position: relative;
	text-align: center;
}

ul li, ol li, menu li{

	position: relative;
	list-style: none;
	display: table;
	margin: 10px 0;
	padding-left: 34px;
	padding-right: 5px;
}


ul li p, ol li p, menu li p{

	position: relative;
	z-index: 10;
	padding: 3px 16px;
}


ul li::before, ol li::before, menu li::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	border-radius: 36px;
	background: transparent;
	border: 2px solid #03a9f4;
	transition: background 0.5s, width 0.5s;
	transition-delay: 0.5s 0s;
}

ul li:hover::before, ol li:hover::before, menu li:hover::before {
	width: 100%;
	background:  #03a9f4;
	transition-delay: 0s, 0.5s;
}

ul li::after, ol li::after, menu li::after {

	content: '';
	position: absolute;
	 top: 14px;
	 left: 14px;
	 width: 6px;
	 height: 6px;
	 border-top: 2px solid #fff;
	 border-right: 2px solid #fff;
	 transform: rotate(45deg);
	 transition: 0.5s;
	 transition-delay: 0s;
}


ul li:hover::after, ol li:hover::after, menu li:hover::after {
	transform: rotate(45deg) scale(1.5);
	transition-delay: 0.5s;
	left: 18px;
}



#about-waves h2, h4{
	padding: 24px 0;
	font-size: 48px;
	font-family: 'Caveat';
}


mark {
  background-color: #32407b;
  color: #fff;
}


#about-waves p, #achievements blockquote{
	margin: 48px 48px;
	line-height: 2;
}

.achievements-text {
	padding: 48px 48px;
}


footer a {
			color: #fff;
	font-size: 16px;	
	padding: 28px 0;
	text-decoration: none;
}

footer strong{
	font-size: 24px;	
	padding: 28px 0;
}