/** {

	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body {

	background-image: url(media/waves.jpg);
	background-color: #707070;
	background-blend-mode: lighten;
}*/


@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Homemade+Apple&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth !important;
	font-family: 'Newsreader', serif;

}

@media screen and (max-width:520px){
	
	#waves-main {
		background-image: url(media/waves.jpg);
		background-size: 100% 100vh;
		background-repeat: no-repeat;
		height: 100vh;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}
	#waves-main h1 {
		font-size: 56px;
		width: 30%;
		text-shadow: 2px 2px 5px #000;
		font-family: 'Caveat';
		margin: 24px 24px;
	}
	aside {
		 font-family: 'Caveat';
		 font-size: 24px;
		 text-align: center;
		 margin-top: 64px;
	}
	#navigator{
		display: none;
	}

	#mob-nav{
		display: flex;
		justify-content: space-between;
		position: fixed;
		top: 0;
		width: 100%;
		 z-index: 12;
		transition: 0.5s;
		background-color: #222222;
	}

	#mob-nav #mob-links{
		  list-style: none;
		  position: fixed;
		  top: 50px;
		  left: -100%;
		  width: 100%;
		  height: calc(100vh - 50px);
		  display: flex;
		  border-bottom: 2px solid #fff;
		  flex-direction: column;
		  justify-content: space-around;
		  z-index: 12;
		  transition: 0.5s;
		background-color: #222222;
	}

	#mob-nav #mob-links.active{
		left:0;
		z-index: 12;
		transition: 0.5s;
	}
	#mob-links a{
		text-decoration: none;
		color: white;
		font-size: 18px;
		z-index: 12;
		display: block;
		margin-left: 36px;
		width: max-content;
	}

	#mob-links a:active{
		border-bottom: 3px solid #fff;
	}
	#nav-icon{
		text-decoration: none;
		color: white;
		padding: 14px;
		font-size: 16px;
		display: block;
		height: 50px;
		border-bottom: 3px solid #fff;
	}

	.spotify-iframe{
		height: 380px;
		width: 80%;
	
	}


}


@media screen and (min-width: 520px){

	#waves-main {
		background-image: url(media/waves.jpg);
		background-size: 64% 100vh;
		background-repeat: no-repeat;
		height: 100vh;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}
	#waves-main h1 {
		font-size: 84px;
		width: 30%;
		text-shadow: 2px 2px 5px #000;
		font-family: 'Caveat';
		margin: 24px 24px;
	}
	
	aside {
		position: absolute;
		right: 0;
		 font-family: 'Caveat';
		 font-size: 24px;
		 text-align: center;
		 bottom: 0;
		 max-width: 36%;
		 height: 100vh;
		 display: flex;
		 flex-direction: column;
		 justify-content: flex-end;
	}
	#mob-nav{
		display: none;
	}

	#navigator {

		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: rgba(15,76,117, .8);

		  top: 0;
		  position: fixed;
		  width: 100%;
		  transition: 0.5s;
		  z-index: 1;

	}




	#navigator  a {
		color: #bbe1fa;
		font-size: 14px;	
		padding: 16px 0;
		width: 100%;
		text-decoration: none;
		text-transform: uppercase;
		transition: .5s;
	}

	#navigator a:hover {
		color: 	#fff;
		background-color: #3282b8;

	}


	
	.spotify-iframe{
	height: 380px;
	width: 32vw;
	
	}
}

body {
	background-color: #1b262c;
	color: #fff;
}

a:active{
		border-bottom: 2px solid #1b262c;
	}
#waves-main > p {
	font-size: 32px;
	width: 30%;
	  text-shadow: 2px 2px 5px #000;
	  font-family: 'Caveat';
	margin: 24px 24px;
}


section main{

	padding: 8px 24px;
	text-align: center;
}
aside h3,p {
	margin: 12px 0;
}


.youtube-iframe{
	height: 320px;
	width:480px;
}



td > figure {
	display: flex;
	align-items: center;
	flex-direction: column;

}



footer, footer > form{
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

#prev-albums {
		background: linear-gradient(45deg, #49a09d, #5f2c82);
		text-align: center;
		padding: 48px 0;

}
#prev-albums h2{
		font-size: 48px;
		padding: 24px 24px;

}

#albums-table {
	width: 80%;
	border-collapse: collapse;
	overflow: hidden;
	text-align: center;
	 margin-left:auto; 
    margin-right:auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	  border: 1px solid rgba(255,255,255,0.3);
}
#albums-table th, #albums-table td{
	background-color : rgba(255,255,255,0.2);
	  border: 1px solid rgba(255,255,255,0.3);
}
#albums-table th{
	padding: 12px;
	background-color: #55608f;
}
#albums-table tr:nth-child(even){
	background-color : rgba(255,255,255,0.3);
	  border: 1px solid rgba(255,255,255,0.3);
}


#albums-table a{
		color: #fff;
	font-size: 16px;	
	padding: 4px 0;
	width: 100%;
	text-decoration: none;

	transition: 0.5s;
}

#albums-table a:hover{

	font-size: 18px;
	font-weight: 700;
	text-decoration: underline;
	transition: 0.5s;
}

#albums-table td figcaption{
	position: absolute;
	font-size: 8px;
	background-color: rgba(0, 0, 0, 0.6);
  width: 55px;
  bottom: 0;
  z-index: 1;
}
#albums-table td figure{
	margin: 8px 0;
	position: relative;
}
.album-art-img {
	height: 60px;
	width: 60px;
}
.artwork-img{
	width: 480px; 
	height: 480px;
	max-width: 100%;
}

iframe{
	max-width: 100%;
}


.list-header, h2 {
	border-bottom: 2px solid #fff;
	margin: 24px auto;
	max-width: max-content;
	text-align: center;

	font-size: 48px;
	font-family: 'Caveat';
	padding: 12px 0;

}


#spotify-iframe-container{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

ul, ol, menu {
	position: relative;
	text-align: center;
}

ul li, ol li, menu li{

	position: relative;
	list-style: none;
	display: flex;
	align-items: center;
	width: max-content;
	margin: 16px 0;
	padding-left: 34px;
	padding-right: 5px;
	max-width: 100%;

}


ul li span, ol li span, menu li span{

	position: relative;
	z-index: 10;
	padding: 3px 16px;
	margin-top: 6px;

}


ul li::before, ol li::before, menu li::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	border-radius: 36px;
	background: transparent;
	border: 2px solid #03a9f4;
	transition: background 0.5s, width 0.5s;
	transition-delay: 0.5s 0s;
}

ul li:hover::before, ol li:hover::before, menu li:hover::before {
	width: 100%;
	background:  #03a9f4;
	transition-delay: 0s, 0.5s;
}

ul li::after, ol li::after, menu li::after {

	content: '';
	position: absolute;
	 top: 14px;
	 left: 14px;
	 width: 6px;
	 height: 6px;
	 border-top: 2px solid #fff;
	 border-right: 2px solid #fff;
	 transform: rotate(45deg);
	 transition: 0.5s;
	 transition-delay: 0s;
}


ul li:hover::after, ol li:hover::after, menu li:hover::after {
	transform: rotate(45deg) scale(1.5);
	transition-delay: 0.5s;
	left: 18px;
}

.mark {
  background-color: #32407b;
  color: #fff;
}

.bold{
	font-weight: 700;
}

.bold-light{
	font-weight: 600;
}

.italic{
	font-style: italic;
}

h4{
 	padding: 12px 0;
	font-size: 32px;
	font-family: 'Caveat';

 }

#about-waves p, #achievements blockquote{
	margin: 24px 24px;
	line-height: 2;
}
#about-waves article {
	margin: 24px 0;
}

.achievements-text {
	margin-top: 36px;
	margin-bottom: 12px;
}


footer a {
			color: #fff;
	font-size: 16px;	
	padding: 28px 0;
	text-decoration: none;
}

footer strong{
	font-size: 24px;	
	padding: 28px 0;
}

#contactForm {
	width: 64%;
}


#contactForm legend {
	margin-top: 8px;
	font-size: 20px;
	font-weight: bold;
}
#contactForm input, textarea, select, button{
	width: 100%;
	padding: 8px 8px;
	border-radius: 6px;
	margin: 4px 0;
	transition: 0.5s;
}

#contactForm button {
	padding: 8px 8px;
	border-radius: 18px;
	margin-top: 12px;
	margin-bottom: 48px;
	background-color: #353c51;
	color: white;
	border-color: #767d92;
	border-width: 3px;
	font-size: 18px;
	height: 50px;
}


#contactForm button:hover{
	font-size: 20px;
	font-weight: 700;
}

#contactForm label {
	margin-top: 8px;
	margin-bottom: 4px;
}

.video-container, video {
	max-width: 100%;
}



p.achievements-text::first-letter {
	font-family: caveat;
	font-size: 18px;
}

::selection{
	color: white;
	background: #121212;
}


input:focus, textarea:focus, input:hover, textarea:hover {
	border-color: green;
	font-weight: 700;
	transition: 0.5s;

}
