#about-waves h4{
    padding: 12px 0;
   font-size: 32px;
   font-family: 'Caveat';

}

#about-waves p{
	margin: 24px 24px;
	line-height: 2;
}

#about-waves article {
	margin: 24px 0;
}

.youtube-iframe{
	height: 320px;
	width:480px;
}

.mark {
	background-color: #32407b;
	color: #fff;
  }
  
  .bold{
	  font-weight: 700;
  }
  
  .bold-light{
	  font-weight: 600;
  }
  
  .italic{
	  font-style: italic;
  }