@media screen and (max-width:520px){
	h1 {
		font-size: 56px;
		width: 30%;
		text-shadow: 2px 2px 5px #000;
		font-family: 'Caveat';
		margin: 24px 24px;
	}
}

@media screen and (min-width: 520px){
	h1 {
		font-size: 84px;
		width: 30%;
		text-shadow: 2px 2px 5px #000;
		font-family: 'Caveat';
		margin: 24px 24px;
	}
}

