@media screen and (max-width:520px){
    #waves-main {
        background-image: url(../../../../resources/images/waves.jpg);
        background-size: 100% 100vh;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

}


@media screen and (min-width: 520px){
	#waves-main {
	    background-image: url(../../../../resources/images/waves.jpg);
        background-size: 64% 100vh;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

	}
}

#waves-main p {
	font-size: 32px;
	width: 30%;
	  text-shadow: 2px 2px 5px #000;
	  font-family: 'Caveat';
	margin: 24px 24px;
}