* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth !important;
	

}

iframe{
	max-width: 100%;
}

body {
	background-color: #1b262c; //Needs to be imported from variables.scss
	color: #fff;
  font-family: 'Newsreader', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


section main{
	padding: 8px 24px;
	text-align: center;
}