#mob-nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
     z-index: 12;
    transition: 0.5s;
    background-color: #222222;
}

#mob-nav #mob-links{
    list-style: none;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    border-bottom: 2px solid #fff;
    flex-direction: column;
    justify-content: space-around;
    z-index: 12;
    transition: 0.5s;
    background-color: #222222;
}
#mob-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
     z-index: 12;
    display: block;
    margin-left: 36px;
    width: max-content;
}

#mob-links a:active{
    border-bottom: 3px solid #fff;
}
#nav-icon{
    text-decoration: none;
    color: white;
    padding: 14px;
    font-size: 16px;
    display: block;
    height: 50px;
    border-bottom: 3px solid #fff;
}


#navigator {

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(15,76,117, .8);
    top: 0;
    position: fixed;
    width: 100%;
    transition: 0.5s;
    z-index: 1;

}

#navigator  a {
    color: #bbe1fa;
    font-size: 14px;	
    padding: 16px 0;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

#navigator a:hover {
    color: 	#fff;
    background-color: #3282b8;

}